main{
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 60px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
}

@media (max-width: 600px){
  main{
    display: grid;
    grid-template-columns: 1fr;
  }
}
